body {background-color: rgb(21, 122, 216);
    color:white;
}

h1, h2 {
    text-align: center;
    font-size: 50px
    font-family: sans-serif;
}
ul {
    color:rgb(139, 0, 0);
}
/* Ci dessus toutes les couleurs */
.paragraphe {
    color:rgb(241, 241, 241);
}
#logo {
    width: 600px;
     height: auto;
     text-align: center; 
}
.logoaccueil {
    text-align: center;
    margin: auto;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}