body {background-color: rgb(238, 212, 157);
    color: black;
}

h1, h2 {
    font-family: Helvetica;
    text-align: center;
    font-size: 40px
}
ul {
    color:rgb(139, 0, 0);
}
/* Ci dessus toutes les couleurs */
.paragraphe {
    font-family: Helvetica;
    color: black;
}
#logo {
    width: 600px;
     height: auto;
     text-align: center; 
}
.logoaccueil {
    text-align: center;
    margin: auto;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}